/* LIGHTBOX */
.lightbox {
    display: none;
    position: fixed;
    inset: 0;
    background: black;
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    gap: 20px;
}

.lightbox-content img {
    flex: 1;
    width: 100%;
    height: 100%;
    object-fit: contain;  /* full screen without crop */
}

.lightbox-info {
    width: 350px;
    max-width: 90%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    background: rgba(255,255,255,0.05);
    border-radius: 10px;
}

.lightbox-info h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.lightbox-info p {
    font-size: 1.3rem;
    margin: 5px 0;
}
#lightbox-name {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #e67e22;
    font-style: italic;
}
#lightbox-number{
    color: aqua;
}
#lightbox-position {
    color: lightgreen;
}

/* Mobile responsive */
@media (max-width: 768px) {
    .lightbox-content {
        flex-direction: column;
        text-align: center;
    }
    .lightbox-info {
        width: 100%;
        background: rgba(0,0,0,0.3);
        padding: 20px;
    }
    .lightbox-info h2 {
        font-size: 1.6rem;
    }
    .lightbox-info p {
        font-size: 1.1rem;
    }
}
